<h1>Input data karyawan baru</h1>
<hr>

<% if (typeof pesanError !== 'undefined') { %>
    <span style="color: red;">
        <%= pesanError[0].path +': '+ pesanError[0].msg +' '+ pesanError[0].value %>
    </span>
    <br><br>
<% } %>

<form action="/karyawan/proses-simpan" method="post">
    <table>
        <tr>
            <td>
                <label>Nama lengkap</label>
            </td>
            <td>
                <input type="text" name="form_namalengkap" value="<%= (typeof ketikanForm !== 'undefined') ? ketikanForm.namalengkap : '' %>">
            </td>
        </tr>
        <tr>
            <td>
                <label>Jenis Kelamin</label>
            </td>
            <td>
                <select name="form_gender">
                    <option value="">-- pilih --</option>
                    <option value="L">Laki</option>
                    <option value="P">Perempuan</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Alamat tinggal</label>
            </td>
            <td>
                <textarea name="form_alamat" rows="5" cols="50"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label>Nomor Induk Pegawai</label>
            </td>
            <td>
                <input type="text" name="form_nip">
            </td>
        </tr>
        <tr>
            <td>
                <label>Tanggal Lahir</label>
            </td>
            <td>
                <input type="date" name="form_tgl_lahir">
            </td>
        </tr>
        <tr>
            <td>
                <label>Nomor Telpon</label>
            </td>
            <td>
                <input type="text" name="form_notelp">
            </td>
        </tr>
    </table>
    <br>

    <button type="submit">simpan</button>
</form>